@import "tailwindcss";

/* In your CSS file */
.custom-scrollbar {
    overflow-y: scroll;
    /* Equivalent to h-64 in Tailwind CSS */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px; /* Adjust width */
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #6b7280; /* Equivalent to bg-gray-500 in Tailwind CSS */
    border-radius: 9999px; /* Equivalent to rounded-full in Tailwind CSS */
   
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563;
}
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #80808000; /* Custom track color */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Set line-height for EditorJS content */
/* .ce-paragraph {
  line-height: 1.5 !important; 
  font-family: 'Georgia', serif;
  font-size: 1rem;
} */
